*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.main{
    display: grid;
    grid-template-rows: 800px 700px repeat(2,645px);
}
.home{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills{
    background-color: #010101;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.bio{
    background-image: url("sky1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact11{
    background-image: url("sky4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* start home */
.content {
    margin: 90px 0 0 140px;
    color: aliceblue;

.home{
    display: grid;
    grid-template-rows: 100px 560px 0 0;
}
.navbar-brand{
    height: 120px;
    width: 290px;
}
.nav-item{
    display: inline;
}
.navbar1 a{
    display: inline;
    padding: 6px 13px 6px 13px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #f5dada;
    background-color: #34a0d3;
    border-radius: 10px;
    margin: 10px;
}
.item1 a{
    
}
nav a:hover{
    transition: color 350ms ease;
    color: rgb(2, 77, 95);
    font-size: 22px;
}

.name{
    font-family: 'Cookie', cursive;
    font-size: 53px;
    color: rgb(199, 23, 23);
    font-weight: 600;
}
.hel{
    display: inline;
    font-size: 150px;
    margin-bottom: 0;
}
.h21{
    font-size: 20px;
    line-height: 50px;
}
.move{
    margin-left: -90px;
    margin-top: -80px;
}
.oo{
    z-index: 0;
}


/* skills .................*/
.skills{
    display: grid;
    grid-template-rows: repeat(3,210px);
    grid-template-columns: repeat(3,430px);
    padding-top: 55px;
}
.imgg{
    border-radius: 100%;
}
.jqq{
    border-radius: 100%;
}
.icon5{
    background-image: url("open22.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imgg{
    margin-left: 150px;
    margin-top: 20px;
}
.imgg1{
    margin-left: 170px;
}
.imgg11,.imgg18{
    margin-left: 260px
}
.imgg13,.imgg110{
    margin-left: 90px;
}
.imgg12{
    margin-bottom: 150px;
}
.imgg19{
    margin-top: 30px;
    margin-left: 170px;
}
.iconnameb{
    margin-left: 140px;
    margin-top: 0;
    margin-bottom: 12px;
    color: chartreuse;
}
.iconname11{
    margin-left: 270px;
    margin-bottom: 12px;
    color: chartreuse;
}
.css{
    margin-left: 170px;
    margin-bottom: 12px;
    color: chartreuse;
}
.iconname1{
    margin-left: 270px;
    margin-bottom: 12px;
    color: chartreuse;
}
.iconname22{
    margin-left: 80px;
    margin-bottom: 12px;
    color: chartreuse;
}
.iconname100{
    margin-left: 200px;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 0;
    color: chartreuse;
}
.iconname222{
    margin-left: 200px;
    margin-bottom: 12px;
    color: chartreuse;
}
.iconname2{
    margin-left: 90px;
    margin-bottom: 12px;
    color: chartreuse;
}
.iconh{
    font-size: 24px;
    margin-top: 70px;
    font-weight: 900;
    text-shadow: 20px;
    text-align: center;
    color: rgb(224, 204, 204);
}
.navbar-toggler-icon {
    background-color: red;
}

/* bio............ */
.headbio{
    font-size: 40px;
    color: crimson;
    font-weight: 800;
    margin: 52px 0px 0px 100px;
}
.bio1{
    color: chartreuse;
    margin-left: 200px;
    margin-top: 40px;
}
.bioh{
    color: #f5dada;
    font-size: 25px;
}
.biooo{
    font-size: 18px;
}
ul{
    margin-left: -10px;
}
 .media{
    display: flex;
    height: 500px;
    width: 500px;
    flex-flow: column;
    padding-left: 10%;
    padding-top: 3%;
    justify-content: space-between;
    margin-top: 30px;
    column-gap: 20px;
    row-gap: 10px;
} 
.contact a{
    text-decoration: none;
    color: #34a0d3;
    font-weight: 700;
    font-size: x-large;
}
.contact a:hover{
    transition: color 350ms ease;
    color: rgb(2, 77, 95);
}
.touch{
    margin-left: 100px;
    margin-top: 30px;
    color: #FF6F61;
}




